// Mixins in here
// #buttonmixins() {
//     .btn{
//         background-color: @eastern-blue;
//         color:white;
//     }
    
    


.buttonmixin(){
    background-color: @eastern-blue;
    color:white;
    width: 200px;
    height:50px;
    text-align: center;
    padding: 15px;
    border-radius: 2rem;
    font-size: 1.6rem;
}

.btn{
    .buttonmixin()
}