// Navigation Styles here
@testborder:2px solid green;

.tiptop{
    // border: 2px solid red;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;

    .logo{
        // border: @testborder;
        
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }

    .navbar{
        // border: @testborder;
        
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        
        a{
            text-decoration: none;
            color: @shark;
            font-size: 1.6rem;
            
        }
        
    }

}

